
/* Базовые настройки страницы*/

/*       ------*- означает обращение ко всем элементам сайта-------        */

* {
    box-sizing: border-box;
}

body, p {
    margin: 0;
}



/* Конец базовых настроек страницы*/

/* Универсальные стили */

/*   , - это означает дополнительное обращение к тому или иному элементу 
       - это перечисление подключений новых class'ов */

.left, 
.ul_li > li {
    float: left;
    /*  > - это стрелочка означает что обращение будет происходить для родительских элементов*/
    /* Float - это обтекание. То есть выравнивание
        Выравнивание: куда
        Выравнивание: в левую сторону  = float: left (либо)
        Выравнивание: в правую сторону = float right*/
}

.right {
    float: right;
}

.ul_li {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin: 0;

}

.ul_li li {
    padding: 10px 15px;
}

.b-r li {
    border-right: 1px solid #dadada;

   
}

/* убрать последние border-right*/

.b-r li:last-child {
    border-right: 0;
}
.container {
    width: 1200px;
    margin: 0 auto;

    /*  margin - это внешний отступ
               - также является выравнивателям 
    margin: 0 auto; - это ноль отступов со всех сторон и это значит
                      выровнить по центру */
}

.m-l-10 {
    margin-left: 10px;
}

.red {
    color: red;
}
.orange {
    color: orange;
}
.blue {
    color: rgb(68, 68, 226);
}

.dropdown_menu {
    display: none;
    position: absolute;
    background: white;
    border: 1px solid black;
    width: 100%;
    top: 42px;
    left: 180px;
}



.hover_menu li:hover .dropdown_menu.home {
    display: block;
    margin-top: 40px;
    width: 200px;
   
}

.hover_menu li:hover .dropdown_menu.product {
    display: block;
    margin-top: 40px;
    width: 500px;
   
}

.hover_menu li:hover .dropdown_menu.sale {
    display: block;
    margin-top: 40px;
    margin-left: 70px;
    width: 500px;
   
}
.hover_menu li:hover .dropdown_menu.blogs {
    display: block;
    margin-top: 40px;
    margin-left: 160px;
    width: 500px;
   
}
.hover_menu li:hover .dropdown_menu.about {
    display: block;
    margin-top: 40px;
    margin-left: 280px;
    width: 150px;
   
}

.hover_menu a {
    text-decoration: none;
}
.hover_menu li:hover .dropdown_menu.basket {
    display: block;
    margin-top: 40px;
    margin-left: 280px;
    width: 150px;
}


/* Конец универсальных стилей */

/* Стили для страницы */

/* ------------- Урок 14 ----------- */

.verhnee_menu {
    background: #f7f7f7;
    display: inline-block;
    width: 100%;

}

.verhnee_menu .ul_li i {
    margin-right: 10px;
}

/* Position*/

.msg {
    position: absolute;
    top: -7px;
    right: 8px;
    background: red;
    width: 13px;
    height: 13px;
    text-align: center;
    color: white;
    font-size: 9px;
    line-height: 1.5;
    border-radius: 13px;

}

.icon_msg {
    position: relative;

}

.center_menu ul {
    display: flex;
    /* 
        display - это блок отображения. Возможные вариции отображения
        :
    
    */
    justify-content: space-between;
    align-items: center;
}



.seryi_krug {
    background: #f5f4f4;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 2.5;
    border-radius: 20px;
    color: #4c4b6c;
}

.center_menu .right > p:first-child {
    font-weight: bold;
    color: #4c4b6c;
}
 
.center_menu .right > p {
    color: #ababab;
}

.bottom_menu {
    display: inline-block;
    height: 60px;
    width: 100%;
    background-color: #f7f7f7;
    position: relative;


}

.hover_menu li:hover .goluboi_krug1 {
    background: #7cd0f5;
    width: 80px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 2.5;
    border-radius: 20px;
    color: white;

}

.search{
    border: 1px solid #f7f7f7;
    display: inline-block;
    background: white;
    width: 280px;
    height: 40px;
    border-radius: 30px;
    font-size: 20px;
  }
  [type='search']{
    border: none;
    outline: none;
    width: 250px;
    height: 40px;
    border-radius: 30px;
    
  }
  .fas.fa-search{
    color: #ccc;
  }
  
  input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
  input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { display: none; }


  .orange_krug {
    background: orange;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 2.5;
    border-radius: 20px;
  
}
.bottom_menu .right > p:first-child {
    font-weight: bold;
    color: #4c4b6c;
    font-size: 18px;
}
 
.bottom_menu .right > p {
    color: #ababab;
    font-size: 14px;
}
.black {
    color: #4c4b6c;
}

/* .verhnee_menu ul li {
    float: left
} */


/*Конец стилей для страницы*/